{% extends 'base.html.twig' %}

{% block title %}Bye index{% endblock %}

{% block body %}
    <h1>Bye index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bye in byes %}
            <tr>
                <td>{{ bye.id }}</td>
                <td>{{ bye.title }}</td>
                <td>{{ bye.description }}</td>
                <td>{{ bye.created ? bye.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bye.createdBy }}</td>
                <td>{{ bye.updatedBy }}</td>
                <td>{{ bye.updated ? bye.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('bye_show', {'id': bye.id}) }}">show</a>
                    <a href="{{ path('bye_edit', {'id': bye.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bye_new') }}">Create new</a>
{% endblock %}
